.search-form
  input
    width: 135px
    line-height: 1
    border: none
    border-radius: 5px
    padding: 6px 10px
    font-family: "FiraSansBookItalic", sans-serif
    color: rgba(#1f2b2a, .65)
    &::placeholder
      color: rgba(#1f2b2a, .65)
