@import vars


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

  .prod-item
    &-price
      font-size: 18px
      span
        font-size: 24px

  .consult-decor-2
    right: 10px

  .consult-line-content
    font-size: 22px

  .tizer-line
    margin-left: 50px
    margin-right: 50px

  .tizer-item
    padding: 8px 35px

  .intro-slide
    h1
      font-size: 76px
    p
      font-size: 24px
    &-content
      max-width: 500px

  .category-line
    margin-left: 60px
    margin-right: 60px

  .top-line
    flex-wrap: wrap
    &-item
      order: 1
    .btn-wrap
      order: 2
      width: 33.333%
      &-callback
        text-align: right
        padding-right: 20px
    .search-form
      order: 3
      width: 33.333%
      text-align: right

  .top-phone
    margin-left: 0

  .top-logo
    margin: 0 150px
    margin-bottom: 30px
// ≥992px
+media-breakpoint-down(md)

  .intro-decor-1
    display: none

  .consult-decor
    display: none

  .consult-line-content
    font-size: 16px

  .consult-line
    margin-top: 0
    margin-bottom: 45px
    .btn-white
      font-size: 14px

  .tizer-line
    top: 0
    margin-top: 30px
    margin-left: 0
    margin-right: 0

  .tizer-item
    padding-left: 25px
    padding-right: 25px
    font-size: 11px

  .intro-slide
    padding: 75px
    height: 400px
    h1
      font-size: 60px

  .s-intro
    padding-top: 40px

  .category-line
    margin-left: 0
    margin-right: 0

  .catline-item
    &-title
      font-size: 14px

  .top-line
    padding-bottom: 0
    &-item
      width: 33.333%
      margin-bottom: 30px
    .btn-wrap-callback
      text-align: center
      padding-right: 0

  .top-cart
    text-align: right
    .num
      left: auto
      right: 20px

  .top-logo
    margin: 0 0 30px
    img
      margin-left: auto
      margin-right: auto

// ≥768px
+media-breakpoint-down(sm)

  .s-intro
    padding-top: 0

  .intro-slide
    height: 300px

  .consult-line-content
    padding-right: 10px
    font-size: 14px



  .tizer-line
    flex-wrap: wrap

  .tizer-item
    width: 50%
    margin-bottom: 30px
    font-size: 12.5px
    &:nth-child(2)
      &:after
        display: none
    &:nth-child(3), &:nth-child(4)
      margin-bottom: 0

  .intro-slide
    h1
      font-size: 40px
    p
      font-size: 18px

  .category-line
    flex-wrap: wrap

  .catline-item
    width: calc(50% - 30px)
    margin-bottom: 30px
    &:after
      right: -31px
    &:nth-child(2)
      &:after
        display: none
    &:nth-child(3), &:nth-child(4)
      margin-bottom: 0

  .main-mnu
    display: none

  .hamburger
    display: inline-block
    width: 15%
    padding: 0
    text-align: right

  .top-line
    .btn
      font-size: 11px

  .top-cart
    width: 18.333%

// ≥480px
+media-breakpoint-down(xs)

  .prod-item-title
    margin-bottom: 15px

  .consult-line-wrap
    flex-direction: column
    text-align: center

  .consult-line-content
    margin-bottom: 20px

  .tizer-item
    width: 100%
    margin-bottom: 50px
    font-size: 16px
    &:after
      height: 2px
      width: 200px
      top: auto
      bottom: -25px
      right: calc(50% - 100px)
    &:nth-child(2)
      &:after
        display: block
    &:nth-child(3)
      margin-bottom: 50px

  .intro-slider
    .owl-nav
      button.owl-prev
        left: 5px
      button.owl-next
        right: 5px

  .intro-slide
    padding: 50px
    height: 350px


  .s-intro
    padding-top: 0

  .category-line
    padding: 30px

  .catline-item
    width: 100%
    justify-content: center
    margin-bottom: 50px
    &:before
      height: 100%
    &:after
      width: 200px
      height: 2px
      bottom: -28px
      top: auto
      right: calc(50% - 100px)
    &:nth-child(3)
      margin-bottom: 50px
    &:nth-child(2)
      &:after
        display: block
    &-icon
      height: 45px
      margin-right: 10px
    &-title
      font-size: 18px



  .top-line
    padding-bottom: 0
    .btn-wrap
      order: 4
      width: calc(50% - 5px)
      .btn
        width: 100%
        font-size: 12.5px
    .search-form
      width: calc(50% - 5px)
      input
        width: 100%

  .top-logo
    order: 1
    width: 50%
    img
      margin: 0

  .top-cart
    order: 2
    width: calc(50% - 60px)

  .hamburger
    order: 2
    width: 60px

  .top-phone
    order: 3
    width: 50%

@media (max-width: 390px)

  .category-slider
    .owl-nav
      button.owl-prev
        left: -35px
      button.owl-next
        right: -35px

  .category-wrap
    padding-left: 35px
    padding-right: 35px

  .intro-slide
    h1
      font-size: 34px
    p
      font-size: 16px
      margin-bottom: 30px
    .btn
      font-size: 14px

  .top-line
    .btn-wrap
      width: 100%
      margin-bottom: 15px
      .btn







/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
